#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
XCCONFIG_PRODUCT_BUNDLE_IDENTIFIER = com.bi.sdk.flutter.example
XCCONFIG_APP_VERSION = 2.0.1
XCCONFIG_APP_BUILD_NUMBER = 0
XCCONFIG_PROVISIONING_PROFILE_IDENTIFIER = SDK Flutter Example App
XCCONFIG_APP_SCHEME = acme
